
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Here is my awesome Github demo page!!</h3>

@Html.ActionLink("Here is feature 1", "Feature1")

@Html.ActionLink("Here is feature 2", "Feature2")